<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default_layout}">

    <th:block layout:fragment="content">
        <script>

            var searchKeyWord;
            var searchType;

            $(function () {
                $(".search-filter").on("change", function (e) {

                    //사이드바에서 선택한 항목의 theme_id값을 배열에 담기
                    var filterArray = [];

                    $(".search-filter:checked").each(function (e) {
                        filterArray.push($(this).val());
                    })

                    //배열에 값이 담기면 div tag hide, 체크를 풀었을때 원상태로 돌아감.
                    if (filterArray.length > 0) {
                        $(".filtertype ").hide();
                    } else {
                        $(".filtertype ").show();
                    }

                    //화면에 반복으로 div tag에서 value값(해당 레스토랑의 theme_id들)을 배열로 변환 후 사이드바에서 선택된 배열과 일치 여부 판별
                    //사이드바 배열과 div tag에서 추출한 배열이 일치하는 경우는 레스토랑만 show로 전환
                    for (var i = 0; i < $(".filtertype").length; i++) {

                        var restSplit = $(".filtertype")[i].attributes[1].value.split(",");

                        if (tagExist(filterArray, restSplit)) {
                            $($(".filtertype")[i]).show();
                        }
                    }
                });

                searchKeyWord= $("#searchKeyWord").val();
                searchType=$("#searchType").val();
            });

            //두 배열간 요소가 일치하면 true 리턴
            function tagExist(arr1, arr2) {
                return arr1.every(element => arr2.includes(element));
            }

            function selectBoxChange(value){
                if(searchType=="keyWord") {
                    location.href = "/search/keyword?keyword=" + searchKeyWord + "&orderby=" + value;
                }else if(searchType=="theme"){
                    var restrauntIdArry=[];
                    $(".themebyrestrauntId").each(function (e){
                        restrauntIdArry.push($(this).val());
                    })
                    console.log(restrauntIdArry);
                    location.href = "/search/themes/orderby?restaurantId=" + restrauntIdArry + "&orderby=" + value+"&keyWord="+searchKeyWord;
                }
            }
        </script>

        <!-- Product Section Begin -->
        <section class="product-page spad">
            <div class="container-xxl">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-8">
                        <div class="product__sidebar">
                            <div class="product__sidebar__view">
                                <div class="section-title">
                                    <h5>결과 내 검색</h5>
                                </div>
                                <div class="product__sidebar__comment__item" th:each=" theme: ${restaurantTheme}">
                                    <th:block th:if="${theme.key} != 'reservation_type' ">
                                        <h4>[[${theme.key}]]</h4>
                                        <ul th:each="theme2 : ${theme.value}" style="margin-bottom: 0">
                                            <li><input type="checkbox" class="search-filter" name="checkTheme" th:text="${theme2.value}" th:value="${theme2.key}"/></li>
                                        </ul>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9">
                        <div class="product__page__content">
                            <div class="product__page__title">
                                <div class="row">
                                    <div class="col-lg-9 col-md-8 col-sm-6">
                                        <div class="section-title">
                                            <h4>검색 : [[${keyWord}]]</h4>
                                            <input id="searchType" type="hidden" th:value="${searchType}">
                                            <input id="searchKeyWord" type="hidden" th:value="${keyWord}">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-6">
                                        <div class="product__page__filter">
                                            정렬
                                            <select id="orderbyselectBox" onchange="selectBoxChange(this.value)" >
                                                <option>정렬 방법</option>
                                                <option value="review">리뷰수</option>
                                                <option value="avg">별점순</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <th:block th:if="${resultList}==null">
                                <div style="height: 500px">
                                    <h4>검색어를 충족하는 결과가 없습니다.</h4>
                                </div>
                            </th:block>

                            <th:block th:each="dto : ${resultList}">
                                <div class="row filtertype" th:classappend="${dto['theme']}" th:value="${dto['theme']}">
                                    <input type="hidden" class="themebyrestrauntId" th:value="${dto.restaurant_id}" />
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="product__item">
                                            <div class="product__item__pic set-bg" th:data-setbg="${dto.restaurant_main_photo}" style="height: 180px">
                                                <div class="comment"><i class="fa fa-comments"></i> [[${dto.review_count}]]</div>
                                                <div class="view"><i class="fa fa-star"></i> [[${dto['avgscore']}]] </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="product__item__text">
                                            <ul>
                                                <li></li>
                                            </ul>
                                            <h3><a th:href="@{/restaurantDetails(restaurantId=${dto.restaurant_id})}" >[[${dto.restaurant_name}]] </a></h3>
                                            <h5>[[${dto.restaurant_description}]]</h5>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
</html>