<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminFragment/layout3}">

<div layout:fragment="content">

    <h2> 구매 입고 등록 ::</h2>

    <table>
        <tr>
            <th>구매서등록일</th>
            <td><input type="text" id="start" name="start" ></td> <td><input type="button" value=" ~ "></td>
            <td>
                <input type="text" name="end" >
                <button type="button" class="bi bi-calendar2-date"></button>
            <td>

            <th>상태</th><td><select name="" ></select></td>

        </tr>
        <tr>
            <th>거래처</th><td><input type="text" name="code" id="code" placeholder="CODE">
            </td><td><input type="text" name="name"  placeholder="NAME"> </td>
        </tr>
    </table>


    <div id="example-table"></div>




    <th:block layout:fragment="css">

    </th:block>

<!--    <script layout:fragment="script">-->
    <script>
        //Create Date Editor
        var dateEditor = function(cell, onRendered, success, cancel){
            //cell - the cell component for the editable cell
            //onRendered - function to call when the editor has been rendered
            //success - function to call to pass thesuccessfully updated value to Tabulator
            //cancel - function to call to abort the edit and return to a normal cell

            //create and style input
            var cellValue = luxon.DateTime.fromFormat(cell.getValue(), "dd/MM/yyyy").toFormat("yyyy-MM-dd"),
                input = document.createElement("input");

            input.setAttribute("type", "date");

            input.style.padding = "4px";
            input.style.width = "100%";
            input.style.boxSizing = "border-box";

            input.value = cellValue;

            onRendered(function(){
                input.focus();
                input.style.height = "100%";
            });

            function onChange(){
                if(input.value != cellValue){
                    success(luxon.DateTime.fromFormat(input.value, "yyyy-MM-dd").toFormat("dd/MM/yyyy"));
                }else{
                    cancel();
                }
            }

            //submit new value on blur or change
            input.addEventListener("blur", onChange);

            //submit new value on enter
            input.addEventListener("keydown", function(e){
                if(e.keyCode == 13){
                    onChange();
                }

                if(e.keyCode == 27){
                    cancel();
                }
            });

            return input;
        };


        //Build Tabulator
        var table = new Tabulator("#example-table", {
            height:"311px",
            columns:[
                {title:"Name", field:"name", width:150, editor:"input"},
                {title:"Location", field:"location", width:130, editor:"list", editorParams:{autocomplete:"true", allowEmpty:true,listOnEmpty:true, valuesLookup:true}},
                {title:"Progress", field:"progress", sorter:"number", hozAlign:"left", formatter:"progress", width:140, editor:true},
                {title:"Gender", field:"gender", editor:"list", editorParams:{values:{"male":"Male", "female":"Female", "unknown":"Unknown"}}},
                {title:"Rating", field:"rating",  formatter:"star", hozAlign:"center", width:100, editor:true},
                {title:"Date Of Birth", field:"dob", hozAlign:"center", sorter:"date", width:140, editor:dateEditor},
                {title:"Driver", field:"car", hozAlign:"center", editor:true, formatter:"tickCross"},
            ],

        });
    </script>

</div>
</html>


