<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminFragment/layout}">

    <div layout:fragment="content">

        <div class="container">
            <div class="join_title">
                <h2><b>ADMIN LV2 계정 등록</b></h2>
            </div>

            <div class="containerBox">
                <div id="joinWrap">
                    <form action="/admin/join" method="post" name="joinForm">
                        <input class="pw" name="adSecurityRole" type="hidden" value="ROLE_ADMIN">
                        <input class="pw" name="adClassificationNumber" type="hidden" value="2">
                        <input type="hidden" id="pwCheck" value="">
                        <input type="hidden" id="pwOkCheck" value="">
                        <input type="hidden" id="emconfirmchkOkChek" value="">

                        <div id="joinId">
                            <span class="account"><b>Account : </b></span><br>
                            <input class="account" id="ad_id" name="adId" type="text" placeholder="account">
                        </div>

                        <div id="joinPw">
                            <span class="pw"><b>Password : </b></span><br>
                            <input class="pw" id="pw" name="adPw" type="password" placeholder="password">
                        </div>

                        <div id="pwValidation">
                            <span class="pw"><b>Password Validation : </b></span><br>
                            <input class="pw" id="pwOk" name="pwOk" type="password" placeholder="password">
                        </div>

                        <div id="email">
                            <span class="pw"><b>email : </b></span><br>
                            <input class="pw" name="email1" id="email1" type="text" placeholder="email" style="width:200px;">
                            <select class="form-control" name="email2" id="email2" style="width: 162px; height:35px; display: inline-flex; border: 1px solid black;">
                                <option>@naver.com</option>
                                <option>@daum.net</option>
                                <option>@gmail.com</option>
                                <option>@hanmail.com</option>
                            </select>
                            <a class="fakeButton check2" href="javascript:check()">인증하기</a>
                        </div>

                        <div id="certificate" style="display: none">
                            <span class="pw certificate"><b>인증 : </b></span><br>
                            <input class="pw" id="certificateNum" name="certificate" type="text" placeholder="인증번호를 적어주세요." style="width:335px;">
                            <a class="fakeButton checkMail">인증번호받기</a>
                            <span class="num"></span>
                        </div>
                    </form>

                    <div>
                        <button type="submit" id="joinButton">join</button>
                    </div>
                </div>
            </div>
        </div>

        <script layout:fragment="script">

            var certificateNum = $("#certificateNum");
            var certificate = $(".certificate");

            $(document).ready(function (){
                // 초기화
                $("#ad_id").val("");
                $("#pw").val("");
                $("#email1").val("");

                // id 중복검사
                $("#ad_id").on("focusout", function(){
                    $("#pw").val("");
                    $("#email1").val("");

                    let ad_id = $("#ad_id").val();

                    if(ad_id == "" || ad_id.length == 0){
                        $("#after_id").remove();
                        $("#ad_id").after("<span id='after_id' style='color: red; font-size: smaller;'><b>공백을 ID로 사용 할 수 없습니다.</b></span>");
                        $("#ad_id").focus();
                        return false;
                    }
                    else {
                        $.ajax({
                            url: '/admin/checkId',
                            type: "post",
                            data: {
                                "ad_id": ad_id
                            },
                            success: function (data) {

                                if (data == false) {
                                    $("#idFalse").remove();
                                    $("#idTrue").remove();
                                    $("#ad_id").after("<span id='idFalse' style='color: red; font-size: smaller;'><b>사용중인 id 입니다.</b></span>");
                                    $("#ad_id").focus();
                                }
                                else if(data == true){
                                    $("#after_id").remove();
                                    $("#idTrue").remove();
                                    $("#ad_id").after("<span id='idTrue' style='color: green; font-size: smaller;'><b>사용가능한 id 입니다.</b></span>");
                                }
                            }
                        });
                        return false;
                    }
                });

                // submit - 넘기기 전 마지막 체크때문에 빼둠
                $("#joinButton").on("click", function (){
                    let pwCheck = $("#pwCheck").val();
                    let emconfirmchkOkChek = $("#emconfirmchkOkChek").val();

                    if(!pwCheck.includes("Y")){
                        alert("패스워드 형식이 맞지 않습니다.");
                        $("#pwOkAfter").remove();
                        $("#after3").remove();
                        $("#pw").focus();
                        return false;
                    }

                    if(!emconfirmchkOkChek.includes("Y")){
                        alert("인증번호가 맞지 않습니다.");
                        $("#certificateNum").focus();
                        return false;
                    }

                    $("form").submit();
                });

            }); // ready function end


            function check(){
                $("#certificateNum").val("");
                $("#certificate").show();
            }

            // 이메일 인증번호
            $(".checkMail").click(function() {

                if( !$("#emailOk").length ){
                    alert("이메일의 형식이 맞지 않습니다.");
                    $("#email1").focus();
                    return false;
                }

                $.ajax({
                    type : "POST",
                    url : "/admin/mailConfirm",
                    data : {
                        "email" : $("#email1").val()+$("#email2").val()
                    },
                    success : function(data){
                        alert("해당 이메일로 인증번호 발송이 완료되었습니다. \n 확인부탁드립니다.");
                        chkEmailConfirm(data, certificateNum, certificate);
                    }
                });
            });

            // 이메일 인증번호 체크 함수
            function chkEmailConfirm(data, certificateNum, certificate){
                $("#certificateNum").on("keyup", function(){
                    if (data != certificateNum.val()) {
                        emconfirmchk = false;
                        $(".emconfirmchkOk").remove();
                        $(".emconfirmchk").remove();
                        $(".num").html("<br><span id='emconfirmchk'>인증번호가 잘못되었습니다</span>")
                        $("#emconfirmchk").css({
                            "color" : "#FA3E3E",
                            "font-weight" : "bold",
                            "font-size" : "10px"
                        });
                        return false;
                    } else { // 아니면 중복아님
                        emconfirmchk = true;
                        $(".emconfirmchkOk").remove();
                        $(".emconfirmchk").remove();
                        $("#emconfirmchkOkChek").val("Y");
                        $(".num").html("<br><span id='emconfirmchkOk'>인증번호 확인 완료</span>");
                        $("#emconfirmchkOk").css({
                            "color" : "#0D6EFD",
                            "font-weight" : "bold",
                            "font-size" : "10px"
                        });
                        return false;
                    }
                });
            }

            $("#email1").on("keyup", function(){
                let email = $("#email1").val();
                if(email.includes("@")){
                    $("#after").remove();
                    $("#emailOk").remove();
                    $(".check2").after("<span id='after' style='color: red; font-size: smaller;'><b>잘못된 형식의 email입니다.</b></span>");
                    $("#email1").focus();
                }
                else if(email.length == 0){
                    $("#after").remove();
                    $("#emailOk").remove();
                    $(".check2").after("<span id='after' style='color: red; font-size: smaller;'><b>email은 공백을 입력 할 수 없습니다.</b></span>");
                }
                else {
                    $("#after").remove();
                    $("#emailOk").remove();
                    $(".check2").after("<span id='emailOk' style='color: green; font-size: smaller;'><b>email의 형식이 바르게 입력 되었습니다.</b></span>");
                }
            });

            // 비밀번호 정규화
            $("#pw").on("keyup", function(){
                $("#pwOk").val("");

                if($("#ad_id").val() == ""){
                    alert("id를 입력해주세요");
                    $("#ad_id").focus();
                    return false;
                }

                let id = $("#ad_id").val();
                let pw = $("#pw").val();
                let number = pw.search(/[0-9]/g);
                let english = pw.search(/[a-z]/ig);
                let spece = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
                let reg = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/;

                if (pw.length < 8 || pw.length > 20) {
                    $('.checkPwSpan').remove();
                    $('.checkPwSpanOk').remove();
                    $("#pw").after("<div class='checkPwSpan' style='color: red; font-size: smaller;'><b>8자리 ~ 20자리 이내로 입력해주세요.</b></div>");
                    return false;

                } else if (pw.search(/\s/) != -1) {
                    $('.checkPwSpan').remove();
                    $('.checkPwSpanOk').remove();
                    $("#pw").after("<div class='checkPwSpan' style='color: red; font-size: smaller;'><b>비밀번호는 공백 없이 입력해주세요.</b></div>");
                    return false;

                } else if (number < 0 || english < 0 || spece < 0) {
                    $('.checkPwSpan').remove();
                    $('.checkPwSpanOk').remove();
                    $("#pw").after("<div class='checkPwSpan' style='color: red; font-size: smaller;'><b>영문,숫자,특수문자를 혼합하여 입력해주세요.</b></div>");
                    return false;

                } else if ((number < 0 && english < 0) || (english < 0 && spece < 0) || (spece < 0 && number < 0)) {
                    $('.checkPwSpan').remove();
                    $('.checkPwSpanOk').remove();
                    $("#pw").after("<div class='checkPwSpan' style='color: red; font-size: smaller;'><b>영문,숫자, 특수문자 중 2가지 이상을 혼합하여 입력해주세요.</b></div>");
                    return false;

                } else if (/(\w)\1\1\1/.test(pw)) {
                    $('.checkPwSpan').remove();
                    $('.checkPwSpanOk').remove();
                    $("#pw").after("<div class='checkPwSpan' style='color: red; font-size: smaller;'><b>같은 문자를 4번 이상 사용하실 수 없습니다.</b></div>");
                    return false;

                } else if (pw.search(id) > -1) {
                    $('.checkPwSpan').remove();
                    $('.checkPwSpanOk').remove();
                    $("#pw").after("<div class='checkPwSpan' style='color: red; font-size: smaller;'><b>비밀번호에 아이디가 포함되었습니다.</b></div>");
                    return false;
                } else {
                    $('.checkPwSpan').remove();
                    $('.checkPwSpanOk').remove();
                    $("#pw").after("<div class='checkPwSpanOk' style='color: green; font-size: smaller;'><b>비밀번호가 정상적으로 입력되었습니다.</b></div>");
                    $("#pwCheck").val("Y");
                    return true;
                }

                if (false === reg.test(pw)) {
                    $('.checkPwSpan').remove();
                    $('.checkPwSpanOk').remove();
                    $("#pw").after("<div class='checkPwSpan' style='color: red; font-size: smaller;'><b>비밀번호는 8자 이상이어야 하며, 숫자/대문자/소문자/특수문자를 모두 포함해야 합니다.</b></div>");
                    // alert('비밀번호는 8자 이상이어야 하며, 숫자/대문자/소문자/특수문자를 모두 포함해야 합니다.');
                    return false;
                } else {
                    $('.checkPwSpan').remove();
                    $('.checkPwSpanOk').remove();
                    $("#pw").after("<div class='checkPwSpanOk' style='color: green; font-size: smaller;'><b>비밀번호가 정상적으로 입력되었습니다.</b></div>");
                    $("#pwCheck").val("Y");
                    // alert("비밀번호가 정상적으로 입력되었습니다.");
                    return true;
                }
            });

            $("#pwOk").on("keyup",function(){
                let pass1 = $("#pw").val();
                let pass2 = $("#pwOk").val();

                if(pass1 != "" || pass2 != "" ){
                    if(pass1 == pass2){
                        $("#after3").remove();
                        $("#pwOkAfter").remove();
                        $("#pwOk").after("<span id='pwOkAfter' style='color: green; font-size: smaller;'><b>패스워드가 맞습니다.</b></span>");
                        $("#pwOk").focus();
                    }
                    else{
                        $("#after3").remove();
                        $("#pwOkAfter").remove();
                        $("#pwOk").after("<span id='after3' style='color: red; font-size: smaller;'><b>패스워드가 맞지 않습니다.</b></span>");
                        $("#pwOk").focus();
                        $("#pwOkCheck").val("Y");
                    }
                }
            });
        </script>
    </div>
</html>