<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaits.org//DTD Mapper 3.0//EN"
        "http://mybatis.rog/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.jhta.web.dao.membership.UbCommonDAO">

    <resultMap id="UbCommonDTO" type="UbCommonDTO">
        <result property="ubId" column="ub_id" />
        <result property="userId" column="user_id" />
        <result property="userPw" column="user_pw" />
        <result property="classificationNumber" column="classification_number" />
        <result property="securityRole" column="security_role" />
        <result property="profilePhoto" column="profile_photo" />
        <result property="uAgreement" column="u_agreement" />
        <result property="customerRating" column="customer_rating" />
        <result property="followOnOff" column="follow_on_off" />
        <result property="joinDate" column="join_date" />
        <result property="modifyDate" column="modify_date" />
        <result property="email" column="email" />
        <result property="name" column="name" />
        <result property="birthdate" column="birthdate" />
        <result property="phone" column="phone" />
        <result property="introduction" column="introduction" />
        <result property="address" column="address" />
        <result property="latitude" column="latitude" />
        <result property="longitude" column="longitude" />
        <result property="businessAddCheck" column="business_add_check" />
    </resultMap>

    <select id="findByUbId" resultType="UbCommonDTO" parameterType="Long">
        select
            ub_id as ubId,
            user_id as userId,
            user_pw as userPw,
            email, name, birthdate, phone,
            classification_number as classificationNumber,
            security_role as securityRole,
            profile_photo as profilePhoto,
            u_agreement as uAgreement,
            introduction,
            customer_rating as customerRating,
            follow_on_off as followOnOff,
            address,
            join_date as joinDate,
            modify_date as modifyDate,
            latitude, longitude,
            business_add_check as businessAddCheck
        from ub_common
        where ub_id = #{ubId}
    </select>

    <select id="findByUserId" resultType="UbCommonDTO" parameterType="String">
        select
            ub_id as ubId,
            user_id as userId,
            user_pw as userPw,
            email, name, birthdate, phone,
            classification_number as classificationNumber,
            security_role as securityRole,
            profile_photo as profilePhoto,
            u_agreement as uAgreement,
            introduction,
            customer_rating as customerRating,
            follow_on_off as followOnOff,
            address,
            join_date as joinDate,
            modify_date as modifyDate,
            latitude, longitude,
            business_add_check as businessAddCheck
        from ub_common
        where user_id = #{userId}
    </select>

    <select id="findByUserIdAndPw" resultType="UbCommonDTO" parameterType="String">
        select
            ub_id as ubId,
            user_id as userId,
            user_pw as userPw,
            email, name, birthdate, phone,
            classification_number as classificationNumber,
            security_role as securityRole,
            profile_photo as profilePhoto,
            u_agreement as uAgreement,
            introduction,
            customer_rating as customerRating,
            follow_on_off as followOnOff,
            address,
            join_date as joinDate,
            modify_date as modifyDate,
            latitude, longitude,
            business_add_check as businessAddCheck
        from ub_common
        where user_id = #{userId}
            and user_pw = #{userPw}
    </select>

    <insert id="join" parameterType="UbCommonDTO">
        insert into ub_common
            (user_id, email, join_date)
        values
            (#{userId}, #{email}, now())
    </insert>

    <insert id="signup" parameterType="UbCommonDTO">
        insert into ub_common
            (user_id, user_pw, name, join_date)
        values
            (#{userId}, #{userPw}, #{name}, now())
    </insert>

    <insert id="signupAll" parameterType="UbCommonDTO">
        insert into ub_common
            (user_id, user_pw, name, join_date, classification_number,
            email, introduction, address, security_role, latitude,
            longitude, u_agreement, phone, birthdate, follow_on_off, business_add_check)
        values
            (#{userId}, #{userPw}, #{name}, now(), #{classificationNumber},
            #{email}, #{introduction}, #{address}, #{securityRole}, #{latitude},
            #{longitude}, #{UAgreement}, #{phone}, #{birthdate}, #{followOnOff}, #{businessAddCheck})
    </insert>

    <update id="updateUserDetail" parameterType="UbCommonDTO">
        update ub_common set
            name = #{name},
            classification_number = #{classificationNumber},
            introduction = #{introduction},
            address = #{address},
            security_role = #{securityRole},
            latitude = #{latitude},
            longitude = #{longitude},
            u_agreement = #{UAgreement},
            phone = #{phone},
            birthdate = #{birthdate},
            follow_on_off = #{followOnOff}
        where user_id = #{userId}
    </update>

    <update id="modify" parameterType="UbCommonDTO">
        update ub_common set
            user_pw = #{userPw},
            email = #{email},
            phone = #{phone},
            profile_photo = #{profilePhoto},
            u_agreement = #{uAgreement},
            introduction = #{introduction},
            follow_on_off = #{followOnOff},
            address = #{address},
            modify_date = now(),
            latitude = #{latitude},
            longitude = #{longitude}
        where ub_id = #{ubId}
    </update>

</mapper>