<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminFragment/layout}">

    <div layout:fragment="content">

        <div class="container">
            <div class="title">
                <h2><b>title</b></h2>
            </div>

            <div class="containerBox">
                <div id="containerWrap">
                    <form action="/admin/" method="post" name="Form">

                    </form>
                </div>
            </div>
        </div>
    </div>
</html>