<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default_layout}">

    <th:block layout:fragment="content">

        <div id="preloder">
            <div class="loader"></div>
        </div>
            <div class="breadcrumb-option">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb__links">
                                <a href="/home"><i class="fa fa-home"></i> Home</a>
                                <a href="./cate">Categories</a>
                                <span>cateName</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <section class="product-page spad">
            <div class="container-xxl">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-lg-3 col-md-6 col-sm-8" >

                        <div class="product__sidebar">
                            <div class="product__sidebar__view">
                                <div class="section-title">
                                    <h5>sidebar</h5>
                                </div>
                            </div>

                            <div class="product__sidebar__comment">
                                <div class="section-title">
                                    <h5>New Comment</h5>
                                </div>
                            </div>
                        </div>
                    </div>




                <div class="col-lg-7" >
                    <div class="product__page__content">
                        <div class="product__page__title">
                            <div>
                                <h2>title</h2>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-1"></div>
                </div>
        </div>

        </section>

    </th:block>


</html>