<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default_layout}">

<div layout:fragment="content">

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/home"><i class="fa fa-home"></i> Home</a>
                        <a href="./cate">Categories</a>
                        <span>MyPage</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Section Begin -->
    <section class="product-page spad">

        <div class="container-fluid" >
            <div class="row">
                <div class="col-1"></div>

                <div class="col-lg-2 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        <div class="product__sidebar__myprofile">
                            <div class="section-title">
                                <h5>마이페이지</h5>
                            </div>
                            <div class="product__sidebar__view">
                                <div class="section-title">
                                    <div class="sidebar_text_div">
                                        <h6 class="sidebar_text"  style="font-weight: 600">예약내역</h6>
                                    </div>
                                    <div class="sidebar_text_div">
                                        <a href="/meal/history"><h6 class="sidebar_text">주문내역</h6></a>
                                    </div>
                                    <div class="sidebar_text_div">
                                        <a th:href="@{/login/modify(ubId=${session.ubCommonDTOLogin.ubId})}"><h6 class="sidebar_text">정보수정</h6></a>
                                    </div>
                                    <div class="sidebar_text_div">
                                        <a href="/logout"><h6 class="sidebar_text">로그아웃</h6></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__sidebar__myrestaurant" th:if="${ubCommonDTOLogin.classificationNumber == 3}">
                            <div class="section-title">
                                <h5>마이레스토랑</h5>
                            </div>
                            <div class="product__sidebar__comment">
                                <div class="section-title">
                                    <div class="sidebar_text_div">
                                        <a href="/calendar"><h6 class="sidebar_text">예약현황</h6></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8" >
                    <div class="product__page__content">

                        <div class="product__page__title">
                            <div class="row">
                                <div class="col-lg-12 col-md-8 col-sm-6">

                                    <!-- Container for the profile section -->
                                    <div th:each="profile : ${pList}">
                                        <div class="profile-section">
                                            <!-- Left section for profile picture -->
                                            <div class="leftside">
                                                <div class="profile-picture">
                                                    <!-- Replace the src attribute with the path to the profile picture -->
                                                    <img class="profile-pic" th:src="@{/login/display(fileName=${session.ubCommonDTOLogin.profilePhoto})}" alt="Profile Picture">
                                                </div>
                                            </div>
                                            <!-- Right section for member information -->
                                            <div class="member-info">
                                                <h2 th:text="${profile.name} + ' 님'"></h2>
                                                <div class="contact-info">
                                                    <p th:text="'이메일: ' + ${profile.email}"></p>
                                                    <p th:text="'전화번호: ' + ${profile.phone}"></p>
                                                </div>
                                            </div>
                                            <div class="buttons">
                                                <button class="btn review-btn">리뷰보기</button>
                                                <button class="btn edit-btn">수정하기</button>
                                            </div>
                                        </div>
                                    </div>


                                    <hr class="horizontal-line" style="margin-top:-50px; margin-bottom:50px;">
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                    <div class="section-title">

                                        <h4>진행중인 예약</h4> <br>

                                        <div class="swiper">
                                            <!-- Additional required wrapper -->
                                            <div class="swiper-wrapper">
                                                <th:block th:if="${list != null and not #lists.isEmpty(list)}">
                                                    <th:block th:each="list:${list} ">
                                                        <div class="swiper-slide" >
                                                            <div class="swiper-section">
                                                                <a th:href="@{'/restaurantDetails?restaurantId='+ ${list.restaurantId}}">
                                                                    <img class="theme1_img" th:src="${list.restaurantMainPhoto}">
                                                                    <div class="theme1_text" >
                                                                        <p class="ongoing_restaurantName" th:text="|${list.restaurantName},|"></p>
                                                                        <p class="ongoing_restaurantLoc" th:text="${list.location}"></p>
                                                                        <p class="ongoing_reservationDate" th:text="${list.reservationDate}"></p>
                                                                        <p class="ongoing_reservationNum" th:text="${list.reservationNum}+'명'"></p>

                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </th:block>
                                                </th:block>
                                                <th:block th:if="${list == null or #lists.isEmpty(list)}">
                                                    <p style="margin-top: 10px">진행중인 예약이 없습니다.</p>
                                                </th:block>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="horizontal-line" style="margin-top:-50px; margin-bottom:50px;">

                        <div class="product__page__title">
                            <div class="row">
                                <div class="col-lg-6 col-md-8 col-sm-6">
                                    <div class="section-lastbooking">
                                        <h4>지난 예약</h4> <br>
                                        <div id="pastReservations">
                                            <th:block th:if="${Llist != null and not #lists.isEmpty(Llist)}">
                                                <th:block th:each="Llist, iterStat : ${Llist}">
                                                    <div class="reservation-item" style="display: none;">
                                                        <div>
                                                            <a th:href="@{'/restaurantDetails?restaurantId='+ ${Llist.restaurantId}}">
                                                                <img class="last_img" th:src="${Llist.restaurantMainPhoto}">
                                                                <div class="last_text">
                                                                    <div class="first-line" style="display: flex">
                                                                        <p class="last_restaurantName" th:text="|${Llist.restaurantName}|"></p>
                                                                        <p class="last_restaurantLoc" th:text="${Llist.location}"></p>
                                                                    </div>
                                                                    <div class="second-line" style="display: flex">
                                                                        <p class="last_reservationDate" th:text="${Llist.reservationDate}"></p>
                                                                        <p class="last_reservationNum" th:text="${Llist.reservationNum}+'명'"></p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </th:block>

                                                <!-- "더보기" 버튼을 위해 숨김 -->
                                                <div class="load-more" th:if="${Llist != null and #lists.size(Llist) > 3}">
                                                    <button class="loadMoreBtn" id="loadMoreBtn" style="display: none;">더보기</button>
                                                </div>
                                            </th:block>
                                            <th:block th:if="${Llist == null or #lists.isEmpty(Llist)}">
                                                <p>지난 예약이 없습니다.</p>
                                            </th:block>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-8 col-sm-6">
                                    <div class="section-cancelledbooking">

                                        <h4>취소된 예약</h4> <br>
                                        <div th:if="${Clist != null and not #lists.isEmpty(Clist)}">

                                            <th:block th:each="Clist:${Clist} ">
                                                <a th:href="@{'/restaurantDetails?restaurantId='+ ${Clist.restaurantId}}">
                                                    <img class="cancelled_img" th:src="${Clist.restaurantMainPhoto}">
                                                    <div class="cancelled_text">
                                                        <div class="first-line" style="display: flex">
                                                            <p class="cancelled_restaurantName" th:text="|${Clist.restaurantName}|"></p>
                                                            <p class="cancelled_restaurantLoc" th:text="${Clist.location}"></p>
                                                        </div>
                                                        <div class="second-line" style="display: flex">
                                                            <p class="cancelled_reservationDate" th:text="${Clist.reservationDate}"></p>
                                                            <p class="cancelled_reservationNum" th:text="${Clist.reservationNum}+'명'"></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </th:block>
                                        </div>
                                        <div th:if="${Clist == null or #lists.isEmpty(Clist)}">
                                            <p>취소된 예약이 없습니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Product Section End -->

    <script layout:fragment="script">

        //slider js
        const swiper = new Swiper('.swiper', {

            slidesPerView: 2,
            spaceBetween: 30,
            direction: 'horizontal',

            loop: true,

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
                //type:'bullets',
                clickable:true,
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

        document.addEventListener('DOMContentLoaded', function() {

            const loadMoreBtn = document.getElementById('loadMoreBtn');
            const pastReservations = document.getElementById('pastReservations');
            const reservationItems = pastReservations.querySelectorAll('.reservation-item');
            const totalReservations = reservationItems.length;

            // 초기에 보이는 예약 항목 수
            let visibleReservations = 3;

            // "더보기" 버튼을 보여주는 함수
            function showLoadMoreBtn() {
                if (visibleReservations < totalReservations) {
                    loadMoreBtn.style.display = 'block';
                } else {
                    loadMoreBtn.style.display = 'none';
                }
            }

            // "더보기" 버튼 클릭 시 추가 예약 항목을 보여주는 함수
            loadMoreBtn.addEventListener('click', function() {
                for (let i = visibleReservations; i < visibleReservations + 3 && i < totalReservations; i++) {
                    reservationItems[i].style.display = 'block';
                }
                visibleReservations += 3;
                showLoadMoreBtn();
            });

            // "더보기" 버튼 표시 여부 설정
            showLoadMoreBtn();

            // 초기에 보이는 예약 항목 설정
            for (let i = 0; i < visibleReservations && i < totalReservations; i++) {
                reservationItems[i].style.display = 'block';
            }
        });
    </script>

</div>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
</th:block>

</html>