<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default_layout}">

<div layout:fragment="content">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/home"><i class="fa fa-home"></i> Home</a>
                        <a href="./cate">Categories</a>
                        <span>MyPage</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Section Begin -->
    <section class="product-page spad">

        <div class="container-fluid" >
            <div class="row">
                <div class="col-1"></div>

                <div class="col-lg-2 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        <div class="product__sidebar__myprofile">
                            <div class="section-title">
                                <h5>마이페이지</h5>
                            </div>
                            <div class="product__sidebar__view">
                                <div class="section-title">
                                    <div class="sidebar_text_div">
                                    <h6 class="sidebar_text" style="font-weight: 600">예약내역</h6>
                                    </div>
                                    <div class="sidebar_text_div">
                                        <a href="/bookinghistory"><h6 class="sidebar_text">주문내역</h6></a>
                                    </div>
                                    </div>
                            </div>
                        </div>
                        <div class="product__sidebar__myprofile">
                            <div class="section-title">
                                <h5>마이레스토랑</h5>
                            </div>
                            <div class="product__sidebar__comment">
                                <div class="section-title">
                                    <div class="sidebar_text_div">
                                        <a href="/calendar"><h6 class="sidebar_text">예약현황</h6></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__sidebar__myprofile">
                            <div class="section-title">
                                <h5>내 정보</h5>
                            </div>
                            <div class="product__sidebar__comment">
                                <div class="section-title">
                                    <div class="sidebar_text_div">
                                        <a href="/logout"> <h5>로그아웃</h5></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="product__page__content">

                        <div class="product__page__title">
                            <div class="row">
                                <div class="col-lg-10 col-md-8 col-sm-6" style="height:400px">
                                    <div class="section-title" style=" height:380px; width: 1000px">

                                        <!-- Container for the profile section -->
                                        <div class="profile-section" style="width: 1000px; height: 250px; border-radius: 10px; border: 1px solid #ccc; padding: 20px;">
                                            <!-- Left section for profile picture -->
                                            <div class="profile-picture" style="float: left;">
                                                <!-- Replace the src attribute with the path to the profile picture -->
                                                <img class="profile-pic" src="profile_picture.jpg" alt="Profile Picture" style="width: 150px; height: 150px; border-radius: 50%;">
                                            </div>
                                            <!-- Right section for member information -->
                                            <div class="member-info" style="float: left; margin-left: 20px;">
                                                <!-- Add member information here -->
                                                <h2>회원 정보</h2>
                                                <p>이름: 홍길동</p>
                                                <p>이메일: example@example.com</p>
                                                <p>전화번호: 010-1234-5678</p>
                                                <!-- Add more member information as needed -->
                                            </div>
                                            <div style="clear: both;"></div>
                                        </div>

                                        <div class="swiper">
                                            <!-- Additional required wrapper -->
                                            <div class="swiper-wrapper">
                                                <th:block th:each="list:${list} ">
                                                    <div class="swiper-slide" >

                                                        <div class="swiper-section">
                                                            <a href="#">
                                                                <img class="theme1_img" th:src="${list.restaurantMainPhoto}">
                                                                <div class="theme1_text" >
                                                                    <p class="theme1_restaurantName" th:text="${list.restaurantName}"></p>
                                                                    <p class="theme1_restaurantName" th:text="${list.reservationDate}"></p>
                                                                    <p class="theme1_restaurantName" th:text="${list.reservationNum}"></p>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </th:block>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="product__page__title">
                            <div class="row">
                                <div class="col-lg-10 col-md-8 col-sm-6" style="background-color: pink">
                                    <div class="section-title">
                                        <h4>진행중인 예약</h4>

                                        <div class="swiper" style="margin-top: 30px">
                                            <!-- Additional required wrapper -->
                                            <div class="swiper-wrapper">
                                                <th:block th:each="list:${list} ">
                                                    <div class="swiper-slide" >
                                                        <a href="#">
                                                            <img class="theme2_img" th:src="${list.restaurantMainPhoto}">
                                                            <div class="theme2_text">
                                                                <p class="theme1_restaurantName" th:text="${list.restaurantName}"></p>
                                                                <p class="theme1_restaurantName" th:text="${list.reservationDate}"></p>
                                                                <p class="theme1_restaurantName" th:text="${list.reservationNum}"></p>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </th:block>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
</div>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
</th:block>

</html>