<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default_layout}">
<th:block layout:fragment="content">

    <script th:inline="javascript">
        $(()=>{
            // if ( $("#uAgreement").val() / 100 > 0 ) {
            //     $("#uAgreement3").checked(true);
            // }
            // if ( $("#uAgreement").val() % 100 / 10 > 0 ) {
            //     $("#uAgreement2").checked(true);
            // }
            // if ( $("#uAgreement").val() % 10 > 0 ) {
            //     $("#uAgreement1").checked(true);
            // }

            $("#phone3").on("keyup", ()=>{
                concatPhoneNumber();
            })

            $('#summernote').summernote({
                placeholder: '자기소개',
                tabsize: 2,
                height: 120,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                ]
            });
            $("input[name=userPw]").on("keyup", ()=>{
                checkPw()
            })
            $("input[name=userPwOk]").on("keyup", ()=>{
                pwCheck();
            })
            uAgreeCheck();
            followOnOffCheck();
        })

        function pwCheck() {
                $("#pwCheck").remove();
                if ( $("input[name=userPwOk]").val() === $("input[name=userPw]").val() ) {
                    $("input[name=userPwOk]").parent().append("<span id='pwCheck' style='color: blue'> 비밀번호가 일치합니다.</span>");
                    return true;
                } else {
                    $("input[name=userPwOk]").parent().append("<span id='pwCheck' style='color: red'> 비밀번호가 일치하지 않습니다.</span>");
                    return false;
                }
        }

        function checkPw() {
            let pw = $("#userPw").val();
            let number = pw.search(/[0-9]/g);
            let english = pw.search(/[a-z]/ig);
            let spece = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
            let reg = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/;

            if (pw.length < 8 || pw.length > 20) {
                $('.checkPwSpan').remove();
                $("#userPw").after("<div class='checkPwSpan' style='color:blue'>8자리 ~ 20자리 이내로 입력해주세요.</div>")
                // alert("8자리 ~ 20자리 이내로 입력해주세요.");
                return false;

            } else if (pw.search(/\s/) != -1) {
                $('.checkPwSpan').remove();
                $("#userPw").after("<div class='checkPwSpan' style='color:blue'>비밀번호는 공백 없이 입력해주세요.</div>")
                // alert("비밀번호는 공백 없이 입력해주세요.");
                return false;

            } else if (number < 0 || english < 0 || spece < 0) {
                $('.checkPwSpan').remove();
                $("#userPw").after("<div class='checkPwSpan' style='color:blue'>영문,숫자,특수문자를 혼합하여 입력해주세요.</div>")
                // alert("영문,숫자,특수문자를 혼합하여 입력해주세요.");
                return false;

            } else if ((number < 0 && english < 0) || (english < 0 && spece < 0) || (spece < 0 && number < 0)) {
                $('.checkPwSpan').remove();
                $("#userPw").after("<div class='checkPwSpan' style='color:blue'>영문,숫자, 특수문자 중 2가지 이상을 혼합하여 입력해주세요.</div>")
                // alert("영문,숫자, 특수문자 중 2가지 이상을 혼합하여 입력해주세요.");
                return false;

            } else if (/(\w)\1\1\1/.test(pw)) {
                $('.checkPwSpan').remove();
                $("#userPw").after("<div class='checkPwSpan' style='color:blue'>같은 문자를 4번 이상 사용하실 수 없습니다.</div>")
                // alert('같은 문자를 4번 이상 사용하실 수 없습니다.');
                return false;

            } else {
                $('.checkPwSpan').remove();
                $("#userPw").after("<div class='checkPwSpan' style='color:blue'>비밀번호가 정상적으로 입력되었습니다.</div>")
                // alert("비밀번호가 정상적으로 입력되었습니다.");
                return true;
            }

            if (false === reg.test(pw)) {
                $('.checkPwSpan').remove();
                $("#userPw").after("<div class='checkPwSpan' style='color:blue'>비밀번호는 8자 이상이어야 하며, 숫자/대문자/소문자/특수문자를 모두 포함해야 합니다.</div>")
                // alert('비밀번호는 8자 이상이어야 하며, 숫자/대문자/소문자/특수문자를 모두 포함해야 합니다.');
                return false;
            } else {
                $('.checkPwSpan').remove();
                $("#userPw").after("<div class='checkPwSpan' style='color:blue'>비밀번호가 정상적으로 입력되었습니다.</div>")
                // alert("비밀번호가 정상적으로 입력되었습니다.");
                return true;
            }
        }

        function findAddr(){
            new daum.Postcode({
                oncomplete: function(data) {

                    console.log(data);

                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var zonecode = data.zonecode;
                    console.log(zonecode);
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var jibunAddr = data.jibunAddress; // 지번 주소 변수
                    // 우편번호와 주소 정보를 해당 필드에 넣는다.

                    if(roadAddr !== ''){
                        $("input[name=address]").val(roadAddr);
                    }
                    else if(jibunAddr !== ''){
                        $("input[name=address]").val(jibunAddr);
                    }
                    $("input[name=zonecode]").val(zonecode);

                }
            }).open();
        }

        function uAgreeCheck(){
            const uAgreement = $("#uAgreement").val();
            console.log(uAgreement % 10);
            console.log(Math.floor(uAgreement % 100 / 10));
            console.log(Math.floor(uAgreement / 100));
            if ( uAgreement % 10 === 1 ) { $("#uAgreement1").prop("checked", true); }
            if ( Math.floor(uAgreement % 100 / 10) === 1 ) { $("#uAgreement2").prop("checked", true); }
            if ( Math.floor(uAgreement / 100) === 1 ) { $("#uAgreement3").prop("checked", true); }
        }

        function followOnOffCheck(){
            const follow = $("#followOnOff").val();
            console.log(follow);
            if ( follow == 1 ) { $("#followOn").prop("checked", true) }
            else { $("#followOff").prop("checked", true) }
        }

        function concatPhoneNumber() {
            $("#phone").val($("#phone1").val()+"-"+$("#phone2").val()+"-"+$("#phone3").val());
        }

// 파일 관련 JS
    // 파일 선택
        function selectFile(element) {
            const file = element.files[0];
            const filename = element.closest('.file_input').firstElementChild;

            // 1. 파일 선택 창에서 취소 버튼이 클린된 경우
            if ( !file ) {
                filename.value = '';
                return false;
            }

            // 2. 파일 크기가 10MB를 초과하는 경우
            const fileSize = Math.floor(file.size / 1024 / 1024);
            if ( fileSize > 10 ) {
                alert('10MB 이하의 파일로 업로드해 주세요');
                filename.value = '';
                element.value = '';
                return false;
            }

            // 3. 파일명 지정
            filename.value = file.name;
        } // selectFile() end
        // 파일 다이얼로그(선택) 창에서 파일이 선택(열기) 또는 취소되었을 때 실행되는 onchange 함수로,
        // 파일에 변화가 생겼을 때 실행되는 이벤트 입니다.
        // 함수의 인자로 전달하는 this는 file 타입의 input태그,
        // 즉 자기 자신(엘리먼트)을 의미합니다.

        // 해당 함수에서 핵심 변수는 file입니다.
        // file에는 파일 선택 창에서 업로드한 파일 객체가 담기며,
        // 서버로 폼을 전송했을 때, 이 파일 객체가 MultipartFile 타입으로 전송됩니다.

        // 메인 로직을 순서대로 설명드리겠습니다.
        // 먼저, 변수 file은 file 타입의 input(이하 files)에 담긴 파일 객체를,
        // filename은 text 타입의 input에 담기는 파일명을 의미합니다.

        // 1번 로직은 파일 선택 창이 취소된(닫힌) 경우에 실행됩니다.
        // 이때 files의 value는 초기화되므로, filename을 빈 값으로 초기화한 후 로직을 종료합니다.

        // 2번 로직은 업로드된 파일의 size(바이트 단위)를 MB(메가바이트) 단위로 변경해서 파일 크기를 체크합니다.
        // 바이트 단위의 숫자를 1024로 두 번 나누면 MB 단위가 되는데요.
        // Math.floor( )를 이용해서 소수점을 제거한 후 파일 사이즈가 10MB를 초과하면
        // filename과 files의 value를 초기화하고 로직을 종료합니다.

        // 마지막으로 3번 로직을 통해 업로드된 파일의 원본 이름을 filename에 세팅합니다.



    // 파일 추가
        function addFile() {
            const fileDiv = document.createElement('tr');
            fileDiv.innerHTML = "<tr class=\"file_list\">\n" +
                "                    <th>프로필 사진 : </th>\n" +
                "                    <td>\n" +
                "                        <input type=\"file\" name=\"files\" onchange=\"selectFile(this);\" />\n" +
                "                        <button type=\"button\" onclick=\"removeFile(this);\" class=\"btns del_btn\">삭제</button>\n" +
                "                    </td>\n" +
                "                </tr>";
            document.querySelector("tbody").appendChild(fileDiv);
        }
        // 파일 추가 버튼과 연결된 onclick 이벤트입니다.
        // addFile( )을 실행하면 아래와 같이 첨부파일 영역이 하나씩 추가됩니다.
        // fileDiv의 HTML은 form에 추가한 HTML에서 파일 추가 버튼만 제거되었고,
        // 나머지는 전부 동일합니다.
        // 개발자 도구(F12)의 Elements(요소) 탭을 통해 파일 영역의 HTML을 확인해 보시면 이해에 도움이 되실 겁니다.
        // div.file_list의 자식 요소(div)들은 각각의 파일 영역을 의미합니다.

    // 파일 삭제
        function removeFile(element) {
            const fileAddBtn = element.nextElementSibling;
            if ( fileAddBtn ) {
                const inputs = element.previousElementSibling.querySelectorAll('input');
                inputs.forEach(input => input.value = '');
                return false;
            }
            element.parentElement.parentElement.remove();
        }
        // 삭제 버튼과 연결된 onclick 이벤트입니다.
        // removeFile( )의 this는 영역별 삭제 버튼 자신을 의미하며,
        // if 문의 조건은 파일 추가 버튼의 유무,
        // 즉 첫 번째 파일이 삭제된 경우를 의미합니다.
        // 첫 번째 파일 영역에는 파일 추가 버튼이 있기 때문에 div.file_input 안의 모든 input을 찾아 값을 초기화하고,
        // 그 외 나머지는 addFile( )로 추가한 파일 영역(div) 자체를 DOM에서 제거합니다.

    </script>

    <div class="container">
        <form action="/login/modify" method="post" autocomplete="off" enctype="multipart/form-data">
            <input type="hidden" name="ubId" th:value="${dtoForModify.ubId}" />
            <h1 style="text-align: center">[[${dtoForModify.name}]]님 개인 정보 수정</h1>
            <table class="table caption-top">
                <tr>
                    <th>비밀번호 : </th>
                    <td><input type="password" name="userPw" th:value="${dtoForModify.userPw}"></td>
                </tr>
                <tr>
                    <th>비밀번호 확인 : </th>
                    <td><input type="password" name="userPwOk" th:value="${dtoForModify.userPw}"></td>
                </tr>
                <tr>
                    <th>이메일 : </th>
                    <td><input type="text" name="email" th:value="${dtoForModify.email}"></td>
                </tr>
                <tr>
                    <th>전화번호 : </th>
                    <td>
                        <input type="hidden" name="phone" th:value="${dtoForModify.phone}" readonly>
                        <input type="text" id="phone1" th:value="${#strings.substring(dtoForModify.phone,0,3)}"> -
                        <input type="text" id="phone2" th:value="${#strings.substring(dtoForModify.phone,4,8)}"> -
                        <input type="text" id="phone3" th:value="${#strings.substring(dtoForModify.phone,9,13)}">
                    </td>
                </tr>
                <tr>
                    <th>주소 : </th>
                    <td>
                        <input type="text" name="zonecode" style="width: 100px;" readonly>
                        <input type="button" onclick="findAddr()" value="우편번호 찾기" class="btn btn-outline-dark"><br>
                        <input type="text" name="address" th:value="${address}" style="width: 400px;" readonly>
                        <input type="text" name="addressDetail" th:value="${addressDetail}" style="width: 400px;">
                    </td>
                </tr>
                <tr>
                    <th>팔로우 여부 : </th>
                    <td>
                        <input type="hidden" th:value="${dtoForModify.followOnOff}" id="followOnOff">
                        <input type="radio" name="followOnOff" value="1" id="followOn"> ON
                        <input type="radio" name="followOnOff" value="0" id="followOff"> OFF
                    </td>
                </tr>
                <tr>
                    <th>선택약관 동의 : </th>
                    <td>
                        <input type="hidden" th:value="${dtoForModify.uAgreement}" id="uAgreement" />
                        <input type="checkbox" name="acceptanceOfchoice" id="uAgreement1">선택 동의 1<br/>
                        <input type="checkbox" name="acceptanceOfchoice" id="uAgreement2">선택 동의 2<br/>
                        <input type="checkbox" name="acceptanceOfchoice" id="uAgreement3">선택 동의 3
                    </td>
                </tr>
                <tr>
                    <th>자기소개 : </th>
                    <td><textarea id="summernote">[[${dtoForModify.introduction}]]</textarea></td>
                </tr>
                <tr class="file_list">
                    <th>프로필 사진 : </th>
                    <td>
                        <input type="file" name="files" onchange="selectFile(this);" />
                        <button type="button" onclick="addFile();" class="btns fn_add_btn">파일추가</button>
                        <button type="button" onclick="removeFile(this);" class="btns del_btn">삭제</button>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="submit" value="수정" class="btn btn-outline-dark">
                    </th>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
</th:block>
</html>